button {
    font-size: 28px;
    font-family: Helvetica, Times New Roman, sans-serif ;
}

button.inverted {
    background-color: black;
    color: white;
}

button.fancy {
    background-color: yellow;
}/* Add CSS Styling */